<div class="container-fluid">
            
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="line-graph">
                        <h3><span id="country-name">{{country}}</span>{{#if country}}:{{/if}} COVID-19 over time </h3>
                        <div class="alert alert-secondary">


                            {{!-- {{#each yAxis}}
                                # of Cases: {{this.y}} <br/>
                            {{/each}} --}}

                            


                        </div>
                        {{!-- <div class="graph-filters">
                            <button class="btn btn-primary btn-sm active">
                                Filter 1 (Past 7 Days?)
                            </button>
                            <button class="btn btn-primary btn-sm">
                                Filter 2 (Past Month?)
                            </button>
                            <button class="btn btn-primary btn-sm">
                                Filter 3 (Past 3 Months?)
                            </button>
                            <button class="btn btn-primary btn-sm">
                                Filter 4 (Past Year?)
                            </button>
                        </div> --}}
                    </div>
                    <div class="twitter-container pt-5">
                            <h1><img src="https://img.icons8.com/color/48/000000/twitter.png"> Tweets</h1>                        
                            <div class="twitter-feed">
                          
                            </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4" class="news-feed-container">
                    <h5>News Feed</h5>
                    <div class="news-feed"></div>
                </div>
            </div>
        </div>