form.signup,
form.login {
  margin-top: 50px;
}

.navbar-collapse {
  position: absolute;
  top: 56px;
  z-index: 100;
  right: 0;
  background-color: #f6f5f5;
  width: 100%;
}

.search-bar {
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  padding-left: 35px;
}

.search-bar-container {
  display:inline; 
  width: 60%;
  position: relative;
}

.search-bar-dropdown {
  position: absolute;
  background-color: #f6f5f5;
  width: 100%;
  z-index: 102;
}

.search-bar-dropdown a{
  display: block;
  border-bottom: 1px solid #e1e1e1;
}

.search-bar-dropdown a:hover {
  background-color: #e1e1e1;
}

@media screen and (min-width: 858px) and (max-width: 1063px) {
  .search-bar-container {
    width: 50%;
  }
}

@media screen and (min-width: 500px) and (max-width: 857px) {
  .search-bar-container {
    width: 40%;
  }
}

.navbar-nav {
  display: inline-block!important;
}

.navbar-nav .nav-link {
  display: inline-block!important;
}


/* 13. Basic Styling with CSS */
    
    /* Style the lines by removing the fill and applying a stroke */
    .line {
      fill: none;
      stroke:red;
      stroke-width: 3;
  }
    
  .overlay {
    fill: none;
    pointer-events: all;
  }
  
  /* Style the dots by assigning a fill and stroke */
  .dot {
      fill: red;
      stroke: #fff;
  }
    
  .focus circle {
    fill: none;
    stroke: steelblue;
  }

  /* twitter styles */

  .twitter-container{
    padding: 5rem;
    margin: 10rem;
  }
  .twitterUsername{
    padding: 20px;
  }
  .circular--square {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 4em;
    height: 4em; 
    float:left;
    padding: 4px;
  }